$primary-color: #444;
$blue: #5184d6;
$white: #fff;
$black: #000;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $primary-color;
  color: $white;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;

  h1 {
    text-align: center;
  }

  form {
    border-radius: 3px;
    background: $white;
    color: $black;
    padding: 40px 20px 20px 20px;
    margin: 20px;
  }

  input,
  select {
    padding-left: 5px;
  }

  input,
  select,
  button {
    display: block;
    margin-bottom: 4px;
    width: 100%;
    height: 30px;
    font-size: 1rem;
    line-height: 1.1rem;
    border-radius: 1px;
    border: 1px solid $primary-color;
    color: $black;
  }

  button {
    background: $blue;
    color: $white;
    border: none;
  }

  ::placeholder {
    color: $primary-color;
  }

  p {
    padding: 5px 0;
  }
}
